@import "bootstrap-sprockets";
@import "bootstrap";

/*Color Palette
Tan:  E8DDCB
Aqua: 036564
Brown:  CDB380
Medium blue: 033649
Dark blue:  031634
*/

body {
  background: #E8DDCB;
  color: #033649;
  font-family: 'Raleway';
  padding-top: 80px;
}

.btn-primary {
  background: #036564;
  border: 1px solid #033649;
  color: #E8DDCB;
}

.btn-primary:hover {
  background: #033649;
  border: 1px solid #033649;
  color: #E8DDCB;
}

// Navbar styling
.navbar {
 background: #031634;
 padding-bottom: 20px;
}

.navbar-default .navbar-brand {
  color: #E8DDCB;
  font-size: 150%;
  font-weight: bold;
  padding-left: 30px;
}

.navbar-default .navbar-brand:hover {
  color: #CDB380;
}

.navbar-default {
  border: #364F16;
}

.navbar-nav {
  padding-right: 20px;
  padding-top: 10px;
}

.navbar-default .navbar-nav li > a {
  color: #ffffff;
  font-weight: bold;
  font-size: 130%;

}

.navbar-default .navbar-nav li > a:hover {
  color: #ff0000;
}

.navbar-default .navbar-nav > li > a.header-link {
  color: #CDB380;
  font-size: 125%;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a.header-link:hover  {
  color: #E8DDCB ;
}

// Form styling
.page-heading, div > label {
  color: #033649;
}

//Listing articles styling
.well {
  margin: 20px;
}

.article-title {
  font-size: 2.0em;
  font-weight: bold;
  margin-bottom: 0.8em;
  padding-left: 0.7em;
}

.article-title a {
  color: #031634;
}

.article-body {
  font-size: 1.4em;
  padding-left: 1.2em;
}

.author {
  color: #031634;
  padding-left: 25px;
}

.article-detail {
  color: #0000ff;
  margin-top: 20px;
}

#new-article-btn {
  margin: 20px;
}

//Showing article styling
.article-detail {
  color: #000ff;
  margin-top: 20px;
}

.article-detail-title {
  font-size: 2.5em;
  margin-bottom: 40px;
}

#article-date {
  margin-bottom: 20px;
}

.article-show-body {
  font-size: 1.5em;
  margin-top: 15px;
  padding-left: 0em;
}

.edit-delete {
  margin-top: 20px;
}

//Sign up -- Sign in
.sign-link a {
  color: #031634;
}

#error_explanation {
  background-color: rgba(3,101,100, 0.5);
  color: #031634;
  text-align: left;
  padding: 5px 20px;
  margin-bottom: 30px;
}

#error_explanation h2 {
  font-size: 150%;
}

//Editing article styling
#edit-button {
  margin: 10px;
}

#user-details {
  color: #E8DDCB;
}

.alert {
  margin-top: 10px;
}
